
.jumbotron {
	background: center;
	background-size: 'cover';
	clear: 'both';
	min-height: 600px;
	margin:0; 
	padding-top: 50px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(20%);
    color: white;
}

.search-body {
	text-align: center;
	max-width: 650px;
	width: 100%;	
}