.questionnaire-form {
	display: block;
	box-sizing: border-box;	
	height: 100px;
	max-width: 750px;
	width: 100%;
	background-color: white;
	text-align: center;
	margin: 0px;
}

label {
	padding-top: 40px;
}