.navbar {
  background: #ffffff;
  height: 50px;
  position: fixed;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: black;
  font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
  z-index: 99;
  white-space: nowrap;
  font-family: 'Spectral', serif;
  /*font-family: 'Spectral SC', serif;*/
  margin-bottom: 75;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 26px 0px;
  width: 33.3%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #0074e4;
  font-weight: 500;
}

@media (max-width: 420px) {
  .navbar li:first-child {
    width: 25%;
  }

  .navbar li:nth-child(2) {
    width: 35%;
  }

  .navbar li:last-child {
    width: 40%;
  }
}

.navbar-toggler a:hover, .dropdown:hover .dropbtn {
  background-color: #6495ED;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}